<div class="hero-unit">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Welcome</h2>
    <p>Welcome to Jason's Bloccit, a Reddit clone built with the help of Joost. Joost is Jason's Bloc.io mentor. Please email Jason if you'd like to sign up for Bloc.io -- he recommends it!</p>

    <p>Special thanks to all of the Bloc mentors who helped with the construction of this app.</p>

  </div>
</div>