
  <div class="vote-arrows pull-left">
    <span>   
        <%= link_to " ", 
            topic_post_up_vote_path(topic, post), 
              class: "glyphicon glyphicon-chevron-up #{(current_user.voted(post) && current_user.voted(post).up_vote?) ? 'voted' : '' }" %>
    </span>
    
    <div>
      <strong><%= post.points %></strong>
    </div>

    <span>
        <%= link_to " ", 
        topic_post_down_vote_path(topic, post), 
        class: "glyphicon glyphicon-chevron-down #{(current_user.voted(post) && current_user.voted(post).down_vote?) ? 'voted' : '' }" %>
    </span>
  </div>
